
<div class="container">
  <div class="row col-12 pt-5 m-0">
    <!-- <button (click)="onAddpost()" class="btn btn-warning">Add Post</button> -->
    <div class="card g-0 border-0 rounded-3">

      <!-- CARD HEADER -->
      <div class="d-flex flex-row bd-highlight mb-3">
        <div class="p-2 ps-3 bd-highlight">
          <a href="#" class="float d-flex align-items-center justify-content-center">
            <i class="bi bi-lightbulb"></i>
          </a>
        </div>
        <div class="p-2 bd-highlight">
          <a href="#"><i class="bi bi-clipboard-data"></i></a>
        </div>
      </div>

      <!-- CARD BODY -->
      <div class="card-body col-12 d-lg-flex " id="body-container">
        <div class="col-12 col-lg-4 ps-lg-3 px-3 px-lg-0" id="a">
          <img src="assets/capture.png" class="img-fluid w-100 shadow rounded rounded-start border rounded" alt="no-image">
        </div>
        <div class="col-lg-5 p-lg-3 pt-lg-5 text-lg-start text-center fw-bold" id="b">
          <p class="card-text">Idea summary</p>

        </div>
        <div class="col-lg-3"  id="c">
          <div class=" px-lg-3 pt-2 d-flex justify-content-center justify-content-lg-end align-items-center">
          <p class="card-text posted-text d-none d-lg-block m-0">Posted</p>
          <a href="#" class="posted-text fw-bold text-primary ps-1">Anonymous User</a>
          <div class="stars ms-1">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <p class="posted-text ps-1 m-0">()</p>
        </div>
        <div class="posted-text px-lg-3 pt-lg-0 pb-2 d-flex justify-content-center  justify-content-lg-end">
          <i class="bi bi-calendar-week"></i>
          <p class="ps-1 mb-0">June 27, 2019 12:00 PM</p>
        </div>
      </div>
    </div>
  </div>
</div>
