
@media screen and (max-width: 992px) {
  #body-container, #table { display: flex; flex-direction: column; }
  #a { order: 1; }
  #b { order: 3; }
  #c { order: 2; }
  #a1 { order: 3; }
  #a2 { order: 2; }
  #a3 { order: 1; }
}


.float{
	/* position:fixed; */
	/* position: absolute; */
  width:60px;
	height:60px;
	margin-top:-30px;
	/* right:40px; */
	background-color:#0C8FA2;
	color:#FFF;
	border-radius:5px;
	/* text-align:center; */
	box-shadow: 2px 2px 3px #999;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.checked {
  color: orange;
}

.posted-text {
  font-size: 12px;
}

.stars {
  margin-top: 2px;
  font-size: 11px;
}

#review-score {
  color: white;
  background-color: #FF9800;
  padding: 0px 10px;
  border-radius: 30px;
}
